li {
    display: inline-block;
    margin: 0 10px;
  }

/* set map, body, and html to 100% of the screen size */
#map,
body,
html {
  height: 400px;

}

canvas {
  background-color:grey; 
  width: 100%;
  height: auto;
}