<!DOCTYPE html>
<html lang="en">
  
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Dashboard</title>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://d3js.org/d3.v5.min.js"></script>
  
<!-- Leaflet CSS & JS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
  integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
  crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
   integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
   crossorigin=""></script>
  <!-- Point to the CSS file -->
  <link rel="stylesheet" href="../static/css/bootstrap.css">
  <link rel="stylesheet" href="../static/css/additional_styles.css">
  
</head>
<!--------------------------------------------------------------------------->
<body class="application">
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="./"><b>Big Five Stocks Interactive Visualization</b></a>
      </div>
    </div>
  </div>
<!--------------------------------------------------------------------------->
<ul class="nav nav-tabs">
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Stock Ticker</a>
    <div class="dropdown-menu" style="">
      <a class="dropdown-item" href="index.html">AMZN</a>
      <a class="dropdown-item" href="aapl.html">AAPL</a>
      <a class="dropdown-item" href="fb.html">FB</a>
      <a class="dropdown-item" href="googl.html">GOOGL</a>
      <a class="dropdown-item" href="msft.html">MSFT</a>
    </div>
  </li>
</ul>
<!---------------------------------------First Row--------------------------------------->
<div class="container-fluid">
  <div class="row"> 
    <div class="col-md-3">
    <p style="text-align:right"><strong>Latest Headlines from CNBC.com</strong></p>
    </div>
    <div class="col-md-9">
      <div id="news">
    <div class="card border-secondary">  
      <marquee scrollamount="4">
        {% for element in send_to_html%}
        <li>{{element}}</li>{% endfor %}
       </marquee>
    </div>
  </div>
    </div>
  </div>
  
  <!---------------------------------------Second Row--------------------------------------->

  <!-- Candlestick -->  
  <div class="row"> 
    <div class="col-md-12"> 

      <div class="card">
      <div class="card-header"><strong>2018 NASDAQ stock data of Google (GOOGL)</strong></div>
      <div id="plot-1"></div>
      <script src = "plots.js"></script>
      </div>

  <!---------------------------------------Third Row--------------------------------------->
  <br>
  <div class="row">
  
    <!-- Company Profile -->  
    <div class="col-md-3">
      <div class="card">
        <div class="card-header">Company Profile</div>
          <div class="card-body">
            <table class="table table-hover">
              <tbody>
                <tr class="table-primary">
                  <th scope="row">Company Name</th>
                  <td>Alphabet Inc.</td>
                </tr>
                <tr class="table-primary">
                  <th scope="row">Traded as</th>
                  <td>GOOGL</td>
                </tr>
                <tr class="table-primary">
                  <th scope="row">Founded</th>
                  <td>4-Sep-1998</td>
                </tr>
                <tr class="table-primary">
                  <th scope="row">Headquarters</th>
                  <td>Mountain View, California</td>
                </tr>
                <tr class="table-primary">
                  <th scope="row">Revenue ('19)</th>
                  <td>$161,857,000,000</td>
                </tr>
                <tr class="table-primary">
                  <th scope="row">Operating Income ('19)</th>
                  <td>$34,230,000,000</td>
                </tr>
                <tr class="table-primary">
                  <th scope="row">Net Income ('19)</th>
                  <td>$34,340,000,000</td>
                </tr>
                <tr class="table-primary">
                  <th scope="row">Total Assets ('19)</th>
                  <td>$275,900,000,000</td>
                </tr>
                <tr class="table-primary">
                  <th scope="row">Total Equity ('19)</th>
                  <td>$201,400,000,000</td>
                </tr>
                <tr class="table-primary">
                  <th scope="row">Number of Employees ('19)</th>
                  <td>123,048</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

  <!-- Volume Chart --> 

    <div class="col-md-5">
      <div class="card">
        <div class="card-header">Total Stock Volume ('19)</div>
          <div class="card-body">

          <div id="stockVolume">   
            <!-- <script src="http://d3js.org/d3.v3.min.js"></script>
            <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
            <script type="text/javascript" src="../static/plot.js"></script> -->
          </div>

          </div>
      </div>
    </div>

    <!-- Map -->  
    <div class="col-md-4">
      <div class="card">
        <div id="map"></div>
      </div>
    </div>

  <!-- API key -->
  <script type="text/javascript" src="../static/config.js"></script>
  <!-- Our Leaflet JS -->
  <script type="text/javascript" src="../static/logic.js"></script>
<!-- JS, Popper.js, and jQuery -->
<!--These are <script>s from Bootstrap website. Many BS components require the use of JavaScript to function -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>